/* roboto */
@font-face {
	font-family: 'roboto thin';
	font-style: normal;
	src: url('../fonts/Roboto_Mono/RobotoMono-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto';
	font-style: normal;
	src: url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto bold';
	font-style: normal;
	src: url('../fonts/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
}
/* source code pro */
@font-face {
	font-family: 'source code pro xl';
	font-style: normal;
	src: url('../fonts/Source_Code_pro/SourceCodePro-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'source code pro';
	font-style: normal;
	src: url('../fonts/Source_Code_pro/SourceCodePro-Light.ttf') format('truetype');
}

@media screen and (max-width: 780px) {
	#inner {
		position: inherit !important;
		display:block !important;
	}
	span {
		font-size: 100px !important;
		float: none !important;
	}
	.colon {
		display: none;
	}
 }

body {
	overflow: hidden;
	transition: background-color 5000ms;
}
#container {
	height: 100%;
}
#inner {
	position:relative;
	display:inline-block;
}
span {
	font-family:roboto thin;
	font-size:250px;
	float:left;
}